@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="app">
        <router-view></router-view>
    </div>
</div>
<script src="~/js/Pages/Index.vue.js"></script>
<script src="~/js/app.js"></script>
